@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  overscroll-behavior-y: none;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #000;
}

.header {
  width: 100vw;
  padding: 10px 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ededed;
  font-weight: 700;
  font-size: 15px;
}

.title {
  margin: 0;
}

body,
* {
  font-family: "Pretendard-Regular";
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.startBTN {
  width: 128px;
  height: 40px;
  border-radius: 6px;
  background: #ededed;
  font-size: 16px;

  display: flex;
  padding-left: 20px;
  gap: 30px;
  align-items: center;
  cursor: pointer;
  color: #000;
}

.icon path {
  fill: #ededed;
}

#label-container {
  color: #ededed;
}

@keyframes right {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(70deg);
  }
}
@keyframes left {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-70deg);
  }
}

* {
  color: #ededed;
}

.hand {
  position: absolute;
  bottom: 0;
  width: 300px;
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom left 60px;
  transform-style: preserve-3d;
}

.startButton {
  width: 128px;
  height: 40px;
  border-radius: 6px;
  border: none;

  font-size: 16px;
  color: #000;
  background: #ededed;
}

#label-container div {
  color: #000;
}

.select {
  width: 128px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  color: #000;
  background: #ededed;
}
